<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <h1>Mortgage Calculator</h1>
    <form action="/">
      <input type="submit" value="BACK" />
    </form>

    <section class="log-form">
      <h2>Signup for an account</h2>
      <form action="/signup" method="POST">
        <input type="email" name="email" placeholder="email" required="" />
        <input type="password" name="password" placeholder="password" required="" />
        <button type="submit" class="btn">SIGNUP</button>
      </form>
    </section>
    <!--end log form -->

    <script src='js/main.js'></script>
  </body>

  </html>